<h3>Modificar Dados do Colaborador</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="codigo">Codigo</label>
        <input type="text" class="form-control" id="codigo" required [(ngModel)]="aluno.codigo" name="codigo">
      </div>
  
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="nome" required [(ngModel)]="aluno.nome" name="nome">
    </div>
  
    <label for="cpf">Cpf</label>
    <input type="text" class="form-control" id="cpf" required [(ngModel)]="aluno.cpf" name="cpf">
  </div>
  
  <label for="status">Status</label>
  <input type="text" class="form-control" id="status" required [(ngModel)]="aluno.status" name="status">
  </div>
  
  <label for="dataNascimento">Data de Nascimento</label>
  <input type="text" class="form-control" id="dataNascimento" required [(ngModel)]="aluno.dataNascimento" name="dataNascimento">
  </div>
  
  <label for="endereco">Endereco</label>
  <input type="text" class="form-control" id="endereco" required [(ngModel)]="aluno.endereco" name="endereco">
  </div>
  
  <label for="email">Email</label>
  <input type="text" class="form-control" id="email" required [(ngModel)]="aluno.email" name="email">
  </div>
  
  <label for="telefone">Telefone</label>
  <input type="text" class="form-control" id="telefone" required [(ngModel)]="aluno.telefone" name="telefone">
  </div>
  
  <label for="usuario">Usuario</label>
  <input type="text" class="form-control" id="usuario" required [(ngModel)]="aluno.usuario" name="usuario">
  </div>

    <button type="submit" class="btn btn-success">Salvar</button>
  </form>
</div>